:root{
  --bg:#020617;
  --card:#0f172a;
  --border:#1e293b;
  --text:#e5e7eb;
  --blue:#38bdf8;
  --green:#22c55e;
  --yellow:#facc15;
}

*{box-sizing:border-box}

body{
  margin:0;
  font-family:Segoe UI,Arial;
  background:var(--bg);
  color:var(--text);
}

.admin-app{
  display:flex;
  min-height:100vh;
}

/* SIDEBAR */
.sidebar{
  width:260px;
  background:#020617;
  border-right:1px solid var(--border);
  padding:25px;
}

.logo{
  display:flex;
  gap:10px;
  font-weight:700;
  margin-bottom:30px;
}
.logo i{color:var(--blue)}

.sidebar nav a{
  display:block;
  padding:12px 14px;
  border-radius:8px;
  margin-bottom:8px;
  color:#94a3b8;
  cursor:pointer;
}
.sidebar nav a:hover,
.sidebar nav a.active{
  background:#0f172a;
  color:white;
}

/* MAIN */
.main{flex:1;padding:30px}

/* STATS */
.stats{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
}

.stat-card{
  background:var(--card);
  padding:25px;
  border-radius:16px;
  box-shadow:0 0 25px rgba(0,0,0,.5);
}
.stat-card h3{font-size:36px;margin:0}

.blue{border-left:5px solid var(--blue)}
.green{border-left:5px solid var(--green)}
.yellow{border-left:5px solid var(--yellow)}

/* CHARTS */
.charts{
  margin-top:40px;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(420px,1fr));
  gap:30px;
}

.chart-box{
  background:linear-gradient(180deg,#0f172a,#020617);
  padding:20px;
  border-radius:20px;
  border:1px solid var(--border);

  height:420px;                 /* ⭐ FIX LỆCH */
  display:flex;
  align-items:center;
  justify-content:center;
}

/* TABLE */
.table-section{margin-top:50px}

table{
  width:100%;
  border-collapse:collapse;
}

th,td{
  padding:14px;
  border-bottom:1px solid var(--border);
}

.progress{
  background:#1e293b;
  border-radius:20px;
  overflow:hidden;
  height:10px;
}
.progress span{
  display:block;
  height:10px;
  background:linear-gradient(90deg,#22c55e,#38bdf8);
}

.detail-btn{
  background:#38bdf8;
  color:black;
  border:none;
  padding:6px 12px;
  border-radius:6px;
  cursor:pointer;
}

/* MODAL */
.modal{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.6);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:99;
}
.modal.hidden{display:none}

.modal-content{
  background:#0f172a;
  width:520px;
  padding:25px;
  border-radius:16px;
  border:1px solid var(--border);
}
.close{
  float:right;
  cursor:pointer;
  font-size:22px;
}

.lab-item{margin-bottom:14px}
.lab-progress{
  background:#1e293b;
  border-radius:20px;
  overflow:hidden;
  height:8px;
}
.hidden{
  display:none;
}

.lab-progress span{
  display:block;
  height:8px;
  background:linear-gradient(90deg,#22c55e,#38bdf8);
}
